* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

nav {
  background-image: url("./src//images/pattern-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -10;
}
nav h1 {
  color: white;
  font-weight: 500;
}
main {
  z-index: 1;
  position: absolute;
  display: flex;
  background-color: white;
  border-radius: 15px;
  height: 8rem;
  left: 15rem;
  top: 15rem;
}
.line {
  border-left: black 5px solid;
  width: 16px;
}
.map {
  min-height: 70vh;
  background-color: beige;
}
